backend:
  replicas: 1
  port: 8888
  corsOrigins: ""
  image:
    repository: quay.io/rh-ai-quickstart/ppe-compliance-monitor-backend
    tag: latest
    pullPolicy: Always
  serviceUrl: "http://ppe-predictor.svc.cluster.local:8888"
  modelInputName: "x"
  modelName: "ppe"
  modelVersion: "1"

frontend:
  replicas: 1
  port: 3000
  apiUrl: ""
  image:
    repository: quay.io/rh-ai-quickstart/ppe-compliance-monitor-frontend
    tag: latest
    pullPolicy: Always

minio:
  secret:
    user: minioadmin
    password: minioadmin
    host: minio
    port: "9000"

  # Auto-create buckets on deployment
  bucketCreation:
    enabled: true
    buckets:
      - models
      - data

  # Upload sample files to the minio bucket
  sampleFileUpload:
    enabled: false
    # bucket: models
    # urls:
    # - https://raw.githubusercontent.com/***

# MinIO storage configuration for model and video files
storage:
  enabled: true
  # PVC size for storing downloaded model and video files
  size: 1Gi
  model:
    bucket: models
    key: ppe.pt
  video:
    bucket: data
    key: combined-video-no-gap-rooftop.mp4

data:
  image:
    repository: quay.io/rh-ai-quickstart/ppe-compliance-monitor-data
    tag: latest
    pullPolicy: Always

runtimeDeployer:
  enabled: true
  image:
    repository: quay.io/rh-ai-quickstart/ppe-compliance-monitor-runtime
    tag: latest
    pullPolicy: Always
  scc:
    enabled: false

modelServing:
  enabled: true
  name: "" # Defaults to Release.Namespace + "-deploy"
  modelFormat:
    name: pytorch
    version: "2"
  modelPath: ppe
  deploymentMode: RawDeployment
  auth: false
  replicas:
    min: 1
    max: 1
  resources:
    requests:
      cpu: "2"
      memory: 4Gi
    limits:
      cpu: "4"
      memory: 8Gi
  runtime:
    image: "registry.redhat.io/rhoai/odh-openvino-model-server-rhel9@sha256:7daebf4a4205b9b81293932a1dfec705f59a83de8097e468e875088996c1f224"
    restPort: 8888
    grpcPort: 8001

openshift:
  sharedHost: ""
  route:
    enabled: true
    host: ""
  backendRoute:
    enabled: true
    host: ""
  networkPolicy:
    enabled: true
  scc:
    enabled: false
    name: "itap-demo-scc"
  roleBinding:
    enabled: false
    serviceAccountName: default
