image:
  repository: ppe-compliance-monitor
  tag: latest
  pullPolicy: Always

backend:
  replicas: 1
  port: 8888
  corsOrigins: ""

frontend:
  replicas: 1
  port: 3000
  apiUrl: ""

openshift:
  sharedHost: ""
  route:
    enabled: true
    host: ""
  backendRoute:
    enabled: true
    host: ""
  networkPolicy:
    enabled: true
  scc:
    enabled: false
    name: "itap-demo-scc"
  roleBinding:
    enabled: false
    serviceAccountName: default
