backend:
  replicas: 1
  port: 8888
  corsOrigins: ""
  image:
    repository: ppe-compliance-monitor-backend
    tag: latest
    pullPolicy: Always

frontend:
  replicas: 1
  port: 3000
  apiUrl: ""
  image:
    repository: ppe-compliance-monitor-frontend
    tag: latest
    pullPolicy: Always

openshift:
  sharedHost: ""
  route:
    enabled: true
    host: ""
  backendRoute:
    enabled: true
    host: ""
  networkPolicy:
    enabled: true
  scc:
    enabled: false
    name: "itap-demo-scc"
  roleBinding:
    enabled: false
    serviceAccountName: default
