{{- if .Values.openshift.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "ppe-compliance-monitor.fullname" . }}-allow-ingress
  labels:
    {{- include "ppe-compliance-monitor.labels" . | nindent 4 }}
spec:
  podSelector: {}
  ingress:
  - {}
  policyTypes:
  - Ingress
{{- end }}
